#h1 {
    text-align: center;
    font-style: italic;
    opacity: 60;
}

#strong {
    color: red;
}

#login_div{
    text-align: center;
    font-weight: 700;
    color: red;
}

.btn.btn-danger.btn-lg.glyphicon.glyphicon-trash{
    display: block;
    position: relative;
    float: left;

}

@media screen and (max-width: 800px){
    @media screen and (min-width: 320px) {
        .img-responsive{
            display: block;
            margin-left: auto;
            margin-right: auto
        }
    }
}

#header_div{
    text-align: right;
}

.btn.btn-success.btn-lg.glyphicon.glyphicon-edit {
    float: right;
    position: relative;
}

#article_h1 {
    text-align: center;
    margin-left: 60px;
    margin-right: 60px;
}

.header-reference{
    color: darkgreen;
}

#p_left {
    text-align: left;
}

#p_right {
    text-align: right;
}

#p_tag {
    padding: 5px 10px 10px 5px;
}

.img-responsive{
    max-width: 400px;
    max-height: 400px;
    min-width: 50px;
    min-height: 200px;
}

.img-responsive.edit {
    width: 300px;
    height: 200px;
}
